.sidebar {
  position: fixed;
  width: 16.6667%;
  height: 100vh;
  background-color: white;
}

.logo {
  font-size: 24px;
  margin-bottom: 40px;
}

.stats {
  margin-bottom: 30px;
}

.divider {
  margin-bottom: 30px;
}

.dataRow {
  position: relative;
}

.dataRow::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 1px;
  background-color: #ccc;
}

.disabled {
  pointer-events:none;
  opacity: 0.5;
}
